name: Docker Image CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: |
        docker build --no-cache --tag ramundg/readingpods:1.0 .

    - name: Push the Docker image
      run: |
        docker push ramundg/readingpods:1.0
